.App-header {
    background-color: black;
    min-height: 1rem;

}
.App-logo{
    height: 15rem;
    width: 15rem;
}

.Div-logo{
    padding: 0;
}
.App-link {
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: calc(10px + 2vmin);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-link:hover {
    color: #FFE333;
}

.list-nav {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-self: center;
    padding: 0.5rem;
}

.list-nav-center{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 37%;
}